$content-width: 900px;
$padding-base: 14px;

$color-text: #444444;
$color-heading: #32373c;
$color-muted-text: #929292;

$color-link: #0073aa;
$color-link-hover: #00a0d2;
$color-1: #21759b;

$warm-gray: #d7d2cb;
$clay: #a7947b;
$blue-ridge: #00667d;
$dark-oak: #32261e;

$typography-serif: "Playfair Display", Monaco, 'Times New Roman', Times, serif;
$typography-condensed: "Roboto Condensed", Arial, Helvetica, sans-serif;
$typography-sans: "Work Sans", Monaco, Helvetica, sans-serif;

